*{
  background-color: rgb(242, 242, 201);
}
h1 {
  color: purple;
  background-color: white;
}

#title {
  display: flex;
  margin: auto;
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 20vw;
  border: 2px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: white;
}

#content{
  background-color: white;
  margin: auto;
  align-items: center;
  margin: 3rem;
  padding-top: 3rem;
  height: 80vh;
  width: auto;
  border: 2px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#addTaskSection{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#addTaskSection input{
  background-color: white;
  display: inline-block;
  height: 2rem;
  width: 15rem;
  margin-right: 1rem;
  border: 2px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
button{
  margin-left:1rem;
  height: 2rem;
  border: 3px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: purple;
  color: white;
}

#tasksList{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

#tasksList ul {
  background-color: white;
  list-style: none;
  margin: 0;
  padding: 0;
}
#taskItem{
  background-color: white;
}
#taskItem li{
  background-color: white;
  margin: 1.5rem;
  padding: 1rem;
  border: 2px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
#taskItem button{
  margin-right: 1rem;
  margin-left: 1rem;
}
